<html>
    <head>
        <title>My Pong</title>
        <meta charset=utf-8 />
        <!--
        <meta http-equiv="refresh" content="0">
        -->
       <!--
       <script type="text/javascript" src="gameMotor.js"></script>
        <script type="text/javascript" src="gameController.js"></script>
        -->
        <script type="text/javascript"  src="../javascripts/jquery-1.11.3.js"></script>
        <script type="text/javascript"  src="../javascripts/drawing.js"></script>
        <script type="text/javascript"  src="../stylesheets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/css/bootstrap.css">
    </head>
    <body>
        <nav id='navbar' class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile displ       ay -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">My Pong</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speed <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="speedBtn" param="3" href="#">++</a></li>
                                <li><a class="speedBtn" param="1" href="#">+</a></li>
                                <li><a class="speedBtn" param="-1" href="#">-</a></li>
                                <li><a class="speedBtn" param="-3" href="#">--</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button id ="addBallBtn" type="button" class="btn btn-default navbar-btn">Add a ball</button>

                    <span id="mousePosition">Coucou</span>

                    <button id ="playBtn" type="button" class="btn btn-default navbar-btn navbar-right play"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div id="gameArea" >
            <canvas id="fieldCanvas" />
        </div>

        <script>

            var canvas = document.getElementById("fieldCanvas");
            canvas.width=document.getElementById('navbar').offsetWidth;
            canvas.height=window.innerHeight-document.getElementById("fieldCanvas").getBoundingClientRect().top;
            var ctx = canvas.getContext("2d");

            var playBtn = document.getElementById("playBtn");
            var speedBtns = document.getElementsByClassName("speedBtn");

            var togglePlay = function() {
                if (playBtn.classList.contains('play')) {
                    console.log('Playing !');
                    playBtn.classList.remove('play');
                    playBtn.classList.add('pause');
                    playBtn.firstElementChild.className="glyphicon glyphicon-play";
                    clearInterval(currentlyPlaying);
                } else if (playBtn.classList.contains('pause')){
                    console.log('nop');
                    playBtn.classList.remove('pause');
                    playBtn.classList.add('play');
                    playBtn.firstElementChild.className="glyphicon glyphicon-pause";
                    currentlyPlaying = goPlay();
                }
                $.ajax({
                    url : 'http://localhost:3000/pong/togglePlay', // La ressource ciblée
                    type : 'POST', // Le type de la requête HTTP.
                    dataType : 'json'
                });
            }
            playBtn.addEventListener('click', togglePlay)

            var changeSpeed = function(event){
                var attrValue = Number($(event.target).attr('param')),
                        action;

                if (attrValue>0){
                    action = "increment";
                }else {
                    action = "decrement";
                }

                for (var i = 0 ; i< Math.abs(attrValue) ; ++i){
                    console.log(action);
                    $.ajax({
                        url : 'http://localhost:3000/pong/speed/' + action, // La ressource ciblée
                        type : 'POST', // Le type de la requête HTTP.
                        dataType : 'json'
                    })
                };
            };

            for (var i = 0 ; i < speedBtns.length ; ++i){
                speedBtns[i].addEventListener('click', changeSpeed);
            }

            var params = {
                "context" : ctx,
                "width" : canvas.width,
                "height" : canvas.height
            };
        //    var controller = new GameController(params);


            document.getElementById("addBallBtn").addEventListener("click", function(){controller.addRandomBall();});


            $('#gameArea').mousemove(function(event){
             //   console.log("OVER");
                $('#mousePosition').html(event.pageX + ' - ' + event.pageY);
                $.ajax({
                    url : 'http://localhost:3000/pong/racket', // La ressource ciblée
                    type : 'POST', // Le type de la requête HTTP.
                    dataType : 'json',
                    data : {x : event.pageX,
                            y : event.pageY}
                })
            });
            //console.log(game, controller);

           // controller.drawGame();
            //controller.play();

            window.addEventListener("keypress", function(e){
                if (e.keyCode == 112)
                   togglePlay();
            });

            function goPlay(){
                return setInterval(function(){
                    $.ajax({
                        url : 'http://localhost:3000/pong/balls', // La ressource ciblée
                        type : 'GET', // Le type de la requête HTTP.
                        dataType : 'json',
                        success : function(result, statut){
                            gamegame.balls = result.balls;
                            gamegame.rackets = result.rackets;
                            //      console.log("OK");
                        },

                        error : function(resultat, statut, erreur){
                            //        console.log("NOK");
                        },

                        complete : function(resultat, statut){
                            //console.log("END");
                        }
                    });
                    //  console.log('drawing' + gamegame);
                    drawField( gamegame , ctx); %>
                },10);
            }

            var gamegame =  <%- game %> ;
            var currentlyPlaying = goPlay();
            console.log("<%= title %>");
            console.log('<%= game %>');

        </script>
    </body>
</html>